<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>com.vlab.guacamole.net.control.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>com.vlab.guacamole.net.control.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Instruction stream servlet.</description>
    <servlet-name>InstructionStream</servlet-name>
    <servlet-class>com.vlab.guacamole.net.output.InstructionStream</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructionStream</servlet-name>
    <url-pattern>/instructions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Clipboard input servlet.</description>
    <servlet-name>Clipboard</servlet-name>
    <servlet-class>com.vlab.guacamole.net.input.Clipboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clipboard</servlet-name>
    <url-pattern>/clipboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Key input servlet.</description>
    <servlet-name>Key</servlet-name>
    <servlet-class>com.vlab.guacamole.net.input.Key</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Key</servlet-name>
    <url-pattern>/key</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Pointer input servlet.</description>
    <servlet-name>Pointer</servlet-name>
    <servlet-class>com.vlab.guacamole.net.input.Pointer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pointer</servlet-name>
    <url-pattern>/pointer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetConnectionPage</display-name>
    <servlet-name>GetConnectionPage</servlet-name>
    <servlet-class>com.vlab.guacamole.GetConnectionPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConnectionPage</servlet-name>
    <url-pattern>/GetConnectionPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetLabAvailablity</display-name>
    <servlet-name>GetLabAvailablity</servlet-name>
    <servlet-class>com.vlab.ajaxImpl.actions.AJAXCheckLabAvailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLabAvailablity</servlet-name>
    <url-pattern>/AJAXCheckLabAvailServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>